name: .NET CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: |
       
         dotnet restore PO1.csproj
         dotnet restore TO1.Tests.csproj

    - name: Build
      run: |
        dotnet build --configuration Release --no-restore

    - name: Run tests with NUnit
      run: |
        # Вариант 1: Простой
        dotnet test --logger "console;verbosity=normal"
        
        # ИЛИ Вариант 2: С явным указанием
        # dotnet test TO1.Tests.csproj --logger:console
        
        # ИЛИ Вариант 3: С NUnit logger
        # dotnet test --logger:nunit
